.app-wrapper {
  display: flex;

  &__screens {
    padding: 3rem 3rem 3rem 34rem;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: $color-grey-light;
  }
}
