@import '../variables';

.challenge-card {
  position: relative;
  width: 30rem;
  min-width: 30rem;
  height: 33rem;
  overflow: hidden;
  box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.6rem;
  background-color: $color-white;
  scroll-snap-align: start;

  &--in-pending {
    border-top: 0.5rem solid $color-orange;
  }
  &--validated {
    border-top: 0.5rem solid $color-green;
  }
  &--denied {
    border-top: 0.5rem solid $color-red;
  }

  &__content {
    padding: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__top {
    flex: 1;
  }

  &__title {
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  &__middle {
    flex: 3;
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;

    &::-webkit-scrollbar {
      border-radius: 1rem;
      background: $color-grey-dark;
      width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb:vertical {
      background-color: $color-orange;
      border-radius: 1rem;
    }
  }

  &__description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: left;
    color: $color-grey-dark;
  }

  &__bottom {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
