.empty-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  align-items: space-between;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    width: 30rem;
  }

  &__message {
    margin: 1rem 0;
    font-size: 2rem;
  }
}
