.redirect-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  align-items: space-between;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    font-size: 3rem;
  }

  &__title {
    margin: 1rem 0;
    font-size: 2rem;
  }
  &__message {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}
