@import '../variables';

.shop-card {
  position: relative;
  width: 30rem;
  min-width: 30rem;
  height: 33rem;
  overflow: hidden;
  box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.6rem;
  background-color: $color-white;
  scroll-snap-align: start;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__top {
    height: 150px;
  }

  &__img {
    height: 100%;
    width: 100%;
    background-color: $color-grey-dark-1;
    overflow: hidden;
    cursor: pointer;

    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;

      &::before {
        content: 'no img';
        display: none;
      }
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 3rem;
    flex: 1;
  }

  &__description {
    height: 50%;
    width: 100%;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: left;
    color: $color-grey-dark;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &__title {
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem 3rem 3rem 3rem;
  }
}
