@import '../../variables';

.modal-body {
  &::-webkit-scrollbar {
    height: 1rem;
    border-radius: 1rem;
    width: 1rem;
  }

  &::-webkit-scrollbar-thumb:vertical {
    background-color: $color-grey-dark;
    border-radius: 1rem;
  }
}
