.dot {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  border-radius: 100%;
  cursor: pointer;
  background: $color-grey-medium;
  border: 0.1rem solid $color-grey-medium;

  &--active {
    background: $color-grey-light;
  }
}
