@import '../variables';

.label-input-file {
  background: linear-gradient(to right, $color-green, $color-orange);
  color: $color-white;
  border-radius: 1rem;
  font-size: 1.6rem;
  display: flex;
  height: 4rem;
  width: 100%;
  z-index: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;
  &__file {
    color: $color-black;
    text-align: center;
  }
}

input[type='file'] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 4rem;
  cursor: pointer;
  z-index: 2;
}

.form-group {
  width: 100%;
  position: relative;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: $color-grey-dark;
  margin: 1rem 0;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__error {
    color: $color-red-error;
    font-size: 1.2rem;
    margin-top: -0.5rem;
  }

  &__input {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    border: none;
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }

  &__label {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid $color-blue-light;
    overflow-y: hidden;

    &::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: -1px;
      left: 0;
      border-bottom: 2px solid $color-blue;
      transform: translateX(-100%);
      transition: all 0.3s ease-in;
    }
  }

  .content {
    position: absolute;
    bottom: 0.6rem;
    left: 0;
    font-size: 1.4rem;
    transition: all 0.3s ease-in;
  }

  &__input:focus + &__label .content,
  &__input:not(:placeholder-shown) + &__label .content {
    transform: translateY(-70%);
    font-size: 1.2rem;
  }

  &__input:focus + &__label::after,
  &__input:not(:placeholder-shown) + &__label::after {
    transform: translateY(0%);
  }
}
