@import '../variables';

.sidebar {
  position: fixed;
  width: 30rem;
  height: 100vh;
  background-color: $color-white;
  padding-bottom: 1rem;
  z-index: 2;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__user-details {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 20rem;
    &--admin {
      padding: 2rem 4rem;
      min-height: 10rem;
    }
  }
  &__navigation {
    height: 100%;
    min-height: 25rem;
  }
}
