@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

button:disabled,
button[disabled] {
  cursor: default;
  text-transform: uppercase;
}

.btn {
  font-family: 'Roboto', sans-serif;
  background: none;
  outline: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: all 0.2s ease-in-out;
}

.btn--lg {
  width: 24rem;
  height: 3.6rem;
}

.btn--md {
  width: 14rem;
  height: 3.6rem;
}

.btn--sm {
  width: 8rem;
  height: 3.6rem;
}

.btn--sm-1 {
  width: 10rem;
  height: 3.6rem;
}

.primary {
  color: #fc5d27;
}

.secondary {
  color: #184fc4;
}

.tertiary {
  color: #0e9260;
}

.fourth {
  color: #b73520;
}

.standard {
  color: #6a758d;
}

.none {
  background-color: none;
  border: none;
}

.outlined-primary {
  border-radius: 0.5rem;
  color: #fc5d27;
  border: 1px solid #fc5d27;
}

.outlined-primary:hover {
  background-color: #fc5d27;
  color: #ffffff;
}

.outlined-secondary {
  border-radius: 0.5rem;
  color: #184fc4;
  border: 1px solid #184fc4;
}

.outlined-secondary:hover {
  background-color: #184fc4;
  color: #ffffff;
}

.outlined-tertiary {
  border-radius: 0.5rem;
  color: #0e9260;
  border: 1px solid #0e9260;
}

.outlined-tertiary:hover {
  background-color: #0e9260;
  color: #ffffff;
}

.outlined-fourth {
  border-radius: 0.5rem;
  color: #b73520;
  border: 1px solid #b73520;
}

.outlined-fourth:hover {
  background-color: #b73520;
  color: #ffffff;
}

.contained-primary {
  border-radius: 0.5rem;
  background: #fc5d27;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.contained-primary:hover {
  background-color: #fd9672;
}

.contained-secondary {
  border-radius: 0.5rem;
  background: #184fc4;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.contained-secondary:hover {
  background-color: #4176e8;
}

.contained-tertiary {
  border-radius: 0.5rem;
  background: #0e9260;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.contained-tertiary:hover {
  background-color: #15d88e;
}

.contained-fourth {
  border-radius: 0.5rem;
  background: #b73520;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.contained-fourth:hover {
  background-color: #de5a45;
}

.card {
  display: flex;
}

.card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.5rem;
}

.card__name {
  font-weight: 700;
  line-height: 1.9rem;
  font-size: 1.6rem;
}

.card__job {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #868686;
}

.shop-card {
  position: relative;
  width: 30rem;
  min-width: 30rem;
  height: 33rem;
  overflow: hidden;
  box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.6rem;
  background-color: #ffffff;
  scroll-snap-align: start;
}

.shop-card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.shop-card__top {
  height: 150px;
}

.shop-card__img {
  height: 100%;
  width: 100%;
  background-color: #c4c4c4;
  overflow: hidden;
  cursor: pointer;
}

.shop-card__img img {
  height: auto;
  width: 100%;
  object-fit: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.shop-card__img img::before {
  content: 'no img';
  display: none;
}

.shop-card__middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3rem;
  flex: 1;
}

.shop-card__description {
  height: 50%;
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: left;
  color: #6a758d;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.shop-card__title {
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.shop-card__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2rem 3rem 3rem 3rem;
}

.rewardInfo {
  display: flex;
}

.rewardInfo__xp {
  color: #184fc4;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.01rem;
  padding-right: 30px;
}

.rewardInfo__credits {
  color: #fc5d27;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.02rem;
}

.progressCard {
  width: 100%;
}

.progressCard__xpContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  color: #184fc4;
  font-weight: bold;
  font-size: 1.4rem;
}

.progressCard__progress {
  background-color: #c0cfea;
  height: 0.4rem;
}

.progressCard__progress .done {
  height: 100%;
  background-color: #184fc4;
  transition: 1s ease 0.3s;
}

.challenge-card {
  position: relative;
  width: 30rem;
  min-width: 30rem;
  height: 33rem;
  overflow: hidden;
  box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.6rem;
  background-color: #ffffff;
  scroll-snap-align: start;
}

.challenge-card--validated {
  border-top: 0.5rem solid #0e9260;
}

.challenge-card--denied {
  border-top: 0.5rem solid #b73520;
}

.challenge-card--validation {
  height: 37rem;
}

.challenge-card__content {
  padding: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.challenge-card__content--extend {
  display: grid;
  grid-template-rows: 1fr 1fr 2.5fr 1fr;
}

.challenge-card__top {
  flex: 1;
}

.challenge-card__title {
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.challenge-card__middle {
  flex: 3;
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.challenge-card__middle::-webkit-scrollbar {
  border-radius: 1rem;
  width: 0.5rem;
}

.challenge-card__middle::-webkit-scrollbar-thumb:vertical {
  background-color: #6a758d;
  border-radius: 1rem;
}

.challenge-card__description {
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: left;
  color: #6a758d;
}

.challenge-card__bottom {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.challenges-section {
  min-height: 38.1rem;
  margin-bottom: 2rem;
  position: relative;
}

.challenges-section__modalBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.challenges-section__title {
  font-size: 2rem;
  font-weight: normal;
  color: #171717;
  z-index: 100;
  background: #f3f5f8;
}

.challenges-section__items {
  padding: 1.5rem 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.challenges-section__items--scrollable {
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.challenges-section__items--scrollable::-webkit-scrollbar {
  height: 1rem;
  border-radius: 1rem;
}

.challenges-section__items--scrollable::-webkit-scrollbar-thumb:horizontal {
  background-color: #6a758d;
  border-radius: 1rem;
}

.challenges-section__message {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.shop-section {
  min-height: 38.1rem;
  margin-bottom: 2rem;
  position: relative;
}

.shop-section__modalBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.shop-section__title {
  font-size: 2rem;
  font-weight: normal;
  color: #171717;
  z-index: 100;
  background: #f3f5f8;
}

.shop-section__items {
  padding: 1.5rem 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.shop-section__items--scrollable {
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.shop-section__items--scrollable::-webkit-scrollbar {
  height: 1rem;
  border-radius: 1rem;
}

.shop-section__items--scrollable::-webkit-scrollbar-thumb:horizontal {
  background-color: #6a758d;
  border-radius: 1rem;
}

.shop-section__message {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.empty-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  align-items: space-between;
}

.empty-placeholder__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
}

.empty-placeholder__image {
  width: 30rem;
}

.empty-placeholder__message {
  margin: 3rem 0;
  font-size: 2rem;
}

.form-group {
  width: 100%;
  position: relative;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #6a758d;
  margin: 1rem 0;
}

.form-group__container {
  display: flex;
  flex-direction: column;
}

.form-group__error {
  color: #ff0033;
  font-size: 1.2rem;
  margin-top: -0.5rem;
}

.form-group__input {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  border: none;
  outline: none;
}

.form-group__input::placeholder {
  color: transparent;
}

.form-group__label {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #c0cfea;
  overflow-y: hidden;
}

.form-group__label::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-bottom: 2px solid #184fc4;
  transform: translateX(-100%);
  transition: all 0.3s ease-in;
}

.form-group .content {
  position: absolute;
  bottom: 0.6rem;
  left: 0;
  font-size: 1.4rem;
  transition: all 0.3s ease-in;
}

.form-group__input:focus + .form-group__label .content,
.form-group__input:not(:placeholder-shown) + .form-group__label .content {
  transform: translateY(-70%);
  font-size: 1.2rem;
}

.form-group__input:focus + .form-group__label::after,
.form-group__input:not(:placeholder-shown) + .form-group__label::after {
  transform: translateY(0%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 12.7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50rem;
  min-height: 33.7rem;
  max-height: 70vh;
  z-index: 103;
  padding: 3rem;
  background-color: #ffffff;
  box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.6rem;
}

.modal__title h1 {
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  overflow-y: hidden;
}

.modal-body::-webkit-scrollbar {
  height: 1rem;
  border-radius: 1rem;
  width: 1rem;
}

.modal-body::-webkit-scrollbar-thumb:vertical {
  background-color: #6a758d;
  border-radius: 1rem;
}

.modal-header {
  display: flex;
  justify-content: center;
  min-height: 3rem;
}

.modal-header .modal-title h1 h1 {
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  overflow-y: hidden;
}

.modal-footer {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}

.form__wrapper .form-group {
  width: 20rem;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 3rem;
}

.buttons-container__wrapper {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.single-shopItem {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 30rem;
  width: calc(100% - 30rem);
  height: 100%;
}

.single-shopItem__left {
  width: 50%;
  overflow: hidden;
}

.single-shopItem__right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.single-shopItem__close {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  min-height: 10rem;
}

.single-shopItem__details {
  min-height: 50rem;
  flex: 4;
  display: flex;
  flex-direction: column;
}

.single-shopItem__details > *:not(:last-child) {
  margin-bottom: 4rem;
}

.single-shopItem__details h1 {
  font-size: 4.8rem;
}

.single-shopItem__p1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.single-shopItem__p2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #6a758d;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.slide {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.slide img {
  height: 100vh;
}

@media screen and (min-width: 1600px) {
  .slide img {
    margin-left: 5rem;
  }
}

.dots {
  position: absolute;
  bottom: 8rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  border-radius: 100%;
  cursor: pointer;
  background: #868686;
  border: 0.1rem solid #868686;
}

.dot--active {
  background: #f3f5f8;
}

.control {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.control--SLIDE_LEFT {
  left: 2rem;
}

.control--SLIDE_RIGHT {
  right: 2rem;
}

.shop-section {
  min-height: 38.1rem;
  margin-bottom: 2rem;
  position: relative;
}

.shop-section__modalBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.shop-section__title {
  font-size: 2rem;
  font-weight: normal;
  color: #171717;
  z-index: 100;
  background: #f3f5f8;
}

.shop-section__items {
  padding: 1.5rem 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.shop-section__items--scrollable {
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.shop-section__items--scrollable::-webkit-scrollbar {
  height: 1rem;
  border-radius: 1rem;
}

.shop-section__items--scrollable::-webkit-scrollbar-thumb:horizontal {
  background-color: #6a758d;
  border-radius: 1rem;
}

.shop-section__message {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.image-container {
  position: relative;
}

.image-container .input-arrow {
  position: absolute;
  right: 1rem;
  bottom: 0;
  padding-bottom: 1rem;
}

.image-container button {
  width: 2rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

#imageURL {
  max-width: 38rem;
}

.url-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem .5rem 0;
}

.url-container .url {
  width: 100%;
  max-width: 40rem;
  color: #6a758d;
  font-size: 1.3rem;
  font-style: italic;
}

.url-container .url-icon {
  width: 1.65rem;
}

.url-container .url-icon #close_icon {
  width: 1.3rem;
  height: 1.3rem;
}

#Icon_Set {
  width: 2rem;
  height: 2rem;
}

.badge-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.badge-overlay.strip {
  position: absolute;
  top: 1.5rem;
  left: -4.5rem;
  background-color: #fc5d27;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0.5rem 5rem;
  text-align: center;
  transform: rotate(-45deg);
}

.toast-container {
  width: 100%;
}

.toast {
  visibility: hidden;
  min-width: 30rem;
  border-radius: 0.5rem;
  position: fixed;
  z-index: 105;
  font-size: 2rem;
  top: 3rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.25rem 0.75rem #c4c4c4;
}

.toast--fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.toast--fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.toast-body {
  width: 100%;
  background-color: #ffffff;
  padding: 1.2rem;
  color: #171717;
  font-size: 1.6rem;
  text-align: center;
}

.toast-header {
  width: 100%;
  background-color: #f3f5f8;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: #171717;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon--XL {
  width: 3.2rem;
  height: 3.2rem;
}

.close-icon--SM {
  width: 1.6rem;
  height: 1.6rem;
}

.sidebar {
  position: fixed;
  width: 30rem;
  height: 100vh;
  background-color: #ffffff;
  padding-bottom: 1rem;
  z-index: 2;
}

.sidebar__content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar__user-details {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 20rem;
}

.sidebar__navigation {
  height: 100%;
  min-height: 25rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.navigation__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 6rem;
  width: 100%;
}

.navigation__link:last-child {
  position: absolute;
  bottom: 0;
}

.navigation__link a {
  text-decoration: none;
  color: #868686;
  font-size: 1.6rem;
  padding: 0 4rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation__link a.active {
  color: #171717;
  font-weight: 700;
  position: relative;
}

.navigation__link a.active:before {
  content: '';
  width: 0.5rem;
  height: 100%;
  background: #fc5d27;
  border-radius: 0.5rem;
  position: absolute;
  left: 0;
}

.avatar-initials {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #fc5d27;
}

.avatar-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.app-wrapper {
  display: flex;
}

.app-wrapper__screens {
  padding: 3rem 3rem 3rem 34rem;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #f3f5f8;
}

.add-button {
  position: absolute;
  top: 3rem;
  right: 3rem;
}
/*# sourceMappingURL=main.css.map */