@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

.btn {
  font-family: 'Roboto', sans-serif;
  background: none;
  outline: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.05rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.primary {
  color: #fc5d27;
  text-transform: uppercase;
}

.secondary {
  color: #184fc4;
  text-transform: uppercase;
}

.tertiary {
  color: #0e9260;
  text-transform: uppercase;
}

.fourth {
  color: #b73520;
  text-transform: uppercase;
}

.outlined-primary {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  color: #fc5d27;
  border: 1px solid #fc5d27;
}

.outlined-primary:hover {
  background-color: #fc5d27;
  color: #ffffff;
}

.outlined-secondary {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  color: #184fc4;
  border: 1px solid #184fc4;
}

.outlined-secondary:hover {
  background-color: #184fc4;
  color: #ffffff;
}

.outlined-tertiary {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  color: #0e9260;
  border: 1px solid #0e9260;
}

.outlined-tertiary:hover {
  background-color: #0e9260;
  color: #ffffff;
}

.outlined-fourth {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  color: #b73520;
  border: 1px solid #b73520;
}

.outlined-fourth:hover {
  background-color: #b73520;
  color: #ffffff;
}

.contained-primary {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background: #fc5d27;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.contained-primary:hover {
  background-color: #fd9672;
}

.contained-secondary {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background: #184fc4;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.contained-secondary:hover {
  background-color: #4176e8;
}

.contained-tertiary {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background: #0e9260;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.contained-tertiary:hover {
  background-color: #15d88e;
}

.contained-fourth {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background: #b73520;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.contained-fourth:hover {
  background-color: #de5a45;
}

.card {
  display: flex;
}

.card__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.5rem;
}

.card__name {
  font-weight: 700;
  line-height: 1.9rem;
  font-size: 1.6rem;
}

.card__job {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #868686;
}

.rewardInfo {
  display: flex;
}

.rewardInfo__xp {
  color: #184fc4;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.01rem;
  padding-right: 30px;
}

.rewardInfo__credits {
  color: #fc5d27;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.02rem;
}

.progressCard {
  width: 100%;
}

.progressCard__xpContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  color: #184fc4;
  font-weight: bold;
  font-size: 1.4rem;
}

.progressCard__progress {
  background-color: #c0cfea;
  height: 0.4rem;
}

.progressCard__progress .done {
  height: 100%;
  background-color: #184fc4;
  transition: 1s ease 0.3s;
}

.sidebar {
  position: fixed;
  width: 30rem;
  height: 100vh;
  background-color: #ffffff;
  padding-bottom: 1rem;
}

.sidebar__content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar__user-details {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 20rem;
}

.sidebar__navigation {
  height: 100%;
  min-height: 25rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.navigation__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 6rem;
  width: 100%;
}

.navigation__link:last-child {
  position: absolute;
  bottom: 0;
}

.navigation__link a {
  text-decoration: none;
  color: #868686;
  font-size: 1.6rem;
  padding: 0 4rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation__link a.active {
  color: #171717;
  font-weight: 700;
  position: relative;
}

.navigation__link a.active:before {
  content: '';
  width: 0.5rem;
  height: 100%;
  background: #fc5d27;
  border-radius: 0.5rem;
  position: absolute;
  left: 0;
}

.app-wrapper {
  display: flex;
}

.app-wrapper__screens {
  padding: 3rem 3rem 3rem 34rem;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #f3f5f8;
}
/*# sourceMappingURL=main.css.map */