// palette

$color-orange: #fc5d27;
$color-blue-light: #c0cfea;
$color-blue: #184fc4;
$color-green: #0e9260;
$color-red: #b73520;
$color-black: #171717;
$color-white: #ffffff;
$color-grey-light: #f3f5f8;
$color-grey-medium: #868686;
$color-grey-dark: #6a758d;

// buttons-size

$button-large: 24rem;
$button-medium: 14rem;
$button-small: 8rem;
$button-small-1: 10rem;

// modal
$modal-overlay: rgba(0, 0, 0, 0.6);
